<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net461" />
  <package id="GeneticSharp" version="2.6.0" targetFramework="net461" />
  <package id="GeneticSharp.Extensions" version="2.6.0" targetFramework="net461" />
  <package id="MetroModernUI" version="1.4.0.0" targetFramework="net461" />
  <package id="NCalc.NetCore" version="1.0.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="4.7.0" targetFramework="net461" />
</packages>